[Unit]
Description=MHA manager
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/masterha_manager --conf={{ mha_base_path }}/mha.cnf
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target